
<div class="block">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_01">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_02">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_03">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_04">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_05">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_06">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_07">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>
<div class="block block_08">
    <div class="circle">
        <div class="circle-main">
            <img src="./public/images/icon.jpg" />
            <span>Electrical</span>
        </div>
    </div>
</div>

